.back-link
    padding: 15px 0
    cursor: pointer
    a
        margin-left: 10px
.bck-img
    filter: invert(39%) sepia(4%) saturate(16%) hue-rotate(7deg) brightness(100%) contrast(94%)
    width: 12px
    height: 20px
.des-data
    .form-control
        padding: 0
        width: 33px
        text-align: center
.description-holder
    padding-top: 20px 
.separately-title
    border-top: 2px solid #acdacf
    text-transform: uppercase

@media screen and (min-width: 768px)
    .btn-block
        width: 50% !important


